# Node modules
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

#VSCode
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Debugger files
*.log

# Cache
.cache/

# Coverage reports (testing)
coverage/
